html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.main-container {
  display: block;
  height: 100vh;
  overflow: auto;
}
.main {
  padding: 20px;
  height: 300vh;
  background-color: white;
  display: block;
}

.lime {
  background: #cddc39; 
}

.green {
  background: #b9f6ca; 
}

.yellow {
  background: #ffff8d; 
}

.blue {
  background: #84ffff; 
}

.purple {
  background: #b388ff; 
}

.red {
  background: #ff8a80; 
}

md-grid-tile {
  transition: all 400ms ease-out 50ms;
}